# (Data Science Tools and Ecosystem)

## AUTHOR 

LETICIA J ORTIZ

### Introduction: 

In this notebook, Data Science Tools and Ecosystem are summarized.

**OBJECTIVES:**

- JUPYTER NOTEBOOKS 
- TOOLS FOR DATA SCIENCE 
- LANGUAGES OF DATA SCIENCE 
- LIBRARIES FOR DATA SCIENCE

Some of the popular languages that Data Scientists use are:

1. PYTHON
2. R 
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. ALTAIR 
2. SCIKIT-LEARN
3. MATPLOTLIB

| DATA SCIENCE TOOLS |
| ------------- |
| MYSQL |
| POSTGRE SQL |
| APACHE |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#  This a simple arithmetic expression to mutiply then add integers.
(3*4) +  5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335